In [1]:
import pandas as pd

In [3]:
import yfinance as yf

df = yf.download('BTC-USD', start = '2010-01-01', progress = False )['Close']
returns = df.pct_change().dropna()
returns

Ticker       BTC-USD
Date
2014-09-18 -0.071926
2014-09-19 -0.069843
2014-09-20  0.035735
2014-09-21 -0.024659
2014-09-22  0.008352
...              ...
2025-03-29 -0.020812
2025-03-30 -0.003185
2025-03-31  0.002604
2025-04-01  0.031742
2025-04-02 -0.005696

[3850 rows x 1 columns]

In [4]:
df.to_csv('btc-usd_data.csv')

In [6]:
df2 = pd.read_csv('btc-usd_data.csv', index_col=0, parse_dates=True)
df2

                 BTC-USD
Date
2014-09-17    457.334015
2014-09-18    424.440002
2014-09-19    394.795990
2014-09-20    408.903992
2014-09-21    398.821014
...                  ...
2025-03-29  82597.585938
2025-03-30  82334.523438
2025-03-31  82548.914062
2025-04-01  85169.171875
2025-04-02  84684.078125

[3851 rows x 1 columns]

In [ ]:
returns2 = df2.pct_change().dropna()
returns2